@font-face {
  font-family: "SofiaProBold";
  src: url("/assets/fonts/Mostardesign-SofiaProBold.otf") format("opentype");
}
@font-face {
  font-family: "SofiaProLight";
  src: url("/assets/fonts/Mostardesign-SofiaProLight.otf") format("opentype");
}
@font-face {
  font-family: "SofiaProMedium";
  src: url("/assets/fonts/Mostardesign-SofiaProMedium.otf") format("opentype");
}
@font-face {
  font-family: "SofiaPro";
  src: url("/assets/fonts/Mostardesign-SofiaProRegular.otf") format("opentype");
}
@font-face {
  font-family: "SofiaProSemiBold";
  src: url("/assets/fonts/Mostardesign-SofiaProSemiBold.otf") format("opentype");
}